<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title><%= title %></title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/css/style.css'/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <!--<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>-->
    <!--<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>-->
    <![endif]-->
    <style>
        #success, #danger{
            display: none;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="list-group" id="allMsg">
    </div>
    <div class="alert alert-success alert-dismissible" role="alert" id="success">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Well done!</strong> You successfully read this important alert message.
    </div>
    <div class="alert alert-danger alert-dismissible" role="alert" id="danger">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </div>
    <form class="center-block well-sm" >
        <div class="form-group">
            <label for="userName">姓名</label>
            <input type="text" class="form-control" id="userName" name="userName" placeholder="姓名">
        </div>
        <div class="form-group">
            <label for="comment">内容</label>
            <textarea class="form-control" rows="3" id="comment" name="comment" placeholder="内容"></textarea>
        </div>
        <button id="submit" type="button" class="btn btn-success">Submit</button>
    </form>
</div>

<script type="text/template" id="msg">
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">【姓名】{{= username }}</h4>
        <p class="list-group-item-text">【内容】{{= comment }}</p>
        <p class="list-group-item-text">【时间】{{= commentTime }}</p>
        <p class="list-group-item-text">【id】{{= id }}</p>
    </a>
</script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/underscore.js"></script>

<script type="text/javascript">
    $.get('/du', function (result) {
        var compiled = _.template($("#msg").html());
        $("#allMsg").html("");
        console.log(result);
        for(var i = 0; i < result.length; i++){
            var list = compiled({
                username:result[i].username,
                comment:result[i].comment,
                commentTime:result[i].commentTime,
                id:result[i]._id
            });
            $("#allMsg").append($(list));
        }
    });


    $("#submit").click(function () {
        if($("#userName").val() != "" && $("#comment").val() != ""){
            $.post('/post',
                {
                    "userName":$("#userName").val(),
                    "comment": $("#comment").val()
                },
                function (result) {
                    //console.log(result.data);
                    if(result.data == -1){
                        $("#danger").fadeIn().delay(2000).fadeOut();
                    }else if(result.data == 1){
                        $("#userName").val("");
                        $("#comment").val("");
                        $("#success").fadeIn().delay(2000).fadeOut();
                    }
                }
            );
        }
    });

</script>
</body>
</html>